<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Jose Juan Montiel's blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- Le styles -->
    <link href="/blog/css/bootstrap.min.css" rel="stylesheet">
    <link href="/blog/css/asciidoctor.css" rel="stylesheet">
    <link href="/blog/css/base.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <!--<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">-->
    <link rel="shortcut icon" href="favicon.ico">
    </head>
  <body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script src="//platform.linkedin.com/in.js" type="text/javascript">
 lang: en_US
</script>
    <div id="wrap">
	
	<!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
	    <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/blog">Jose Juan Montiel's blog</a>
	    </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/blog/about.html">About</a></li>

				<!-- li class="dropdown">
	          		<a data-toggle="dropdown" href="#">Topics<b class="caret"></b></a>
			          <ul class="dropdown-menu" role="menu">
						<li><a href="/blog/tags/groovy.html">Groovy</a></li>
						<li><a href="/blog/2013/07/30/deck2pdf_exporting_html5_slide_decks.html">deck2pdf</a></li>
						<li><a href="/blog/tags/jlangdetect.html">JLangDetect</a></li>
			          </ul>
	       		</li -->
                <li><a href="/blog/feed.xml">Feed</a></li>
              </ul>
	      <ul class="nav navbar-nav navbar-right">
	      	<li><a href="https://github.com/josejuanmontiel"><i class="fa fa-github"></i></a></li>
	        <li><a href="https://twitter.com/accreativos"><i class="fa fa-twitter"></i></a>
	      </ul>
            </div>
          </div>
      </div>
      <div class="container">

	<div class="page-header">
		<h1>Blog</h1>
	</div>
  			<a href="/blog/2017/06/git.html"><h1>Git &amp; Merge &amp; Rebase &amp; Flow</h1></a>
  			<p>30 junio 2017</p>
			<p><em>Tags: </em>
		<a href="/blog/tags/git.html">git</a> 
	
		<a href="/blog/tags/merge.html">merge</a> 
	
		<a href="/blog/tags/rebase.html">rebase</a> 
	
		<a href="/blog/tags/git-flow.html">git-flow</a> 
	</p>
			<a href="https://twitter.com/share" class="twitter-share-button" data-text="Git &amp; Merge &amp; Rebase &amp; Flow" data-url="http://josejuanmontiel.github.io/blog/2017/06/git.html" data-via="accreativos" data-lang="fr">Tweeter</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			<div class="g-plusone" data-size="medium" data-href="http://josejuanmontiel.github.io/blog/2017/06/git.html"></div>
			<script type="IN/Share" data-url="http://josejuanmontiel.github.io/blog/2017/06/git.html" data-counter="right"></script>
			<div class="fb-like" data-href="http://josejuanmontiel.github.io/blog/2017/06/git.html" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>

  			<p><div class="sect1">
<h2 id="_git_merge_rebase_flow">Git &amp; Merge &amp; Rebase &amp; Flow</h2>
<div class="sectionbody">
<div class="paragraph">
<p>On this occasion we will perform a series of operations on a git repository.
We will try to simulate typical situations of group work, with different
Ways to focus the union of the different jobs.</p>
</div>
<div class="sect2">
<h3 id="_work_with_two_branches_without_common_ancestors">Work with two branches without common ancestors.</h3>
<div class="paragraph">
<p>First, initialize a local repo, with the option of being shared by
Multiple users.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint sh language-sh"><code>cd ~/sandbox-git
git init --bare --shared ~/sandbox-git/test-repo.git
git clone test-repo.git repo-clone1
git clone test-repo.git repo-clone2</code></pre>
</div>
</div>
<div class="paragraph">
<p>Then we go to the directory 1, and we add a first file, in the commit
We indicate a username: User1.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint sh language-sh"><code>cd repo-clone1
touch README
git add .
git commit --author="User1 &lt;user1@git.com&gt;" -m "Initial commit"
git push -u origin master</code></pre>
</div>
</div>
<div class="paragraph">
<p>To view from console we can add the following to ~ / .gitconfig under [alias]</p>
</div>
<div class="admonitionblock tip">
<table>
<tr>
<td class="icon">
<i class="icon-tip" title="Tip"></i>
</td>
<td class="content">
tree = log --graph --full-history --all --color --pretty=tformat:%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s%x20%x1b[33m(%an)%x1b[0m
</td>
</tr>
</table>
</div>
<div class="paragraph">
<p>The repo is thus.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="git_01.png" alt="git 01">
</div>
</div>
<div class="paragraph">
<p>Then we go to the second folder and we only do "fetch", and we create the same folder
File that the other user created. We did it, then we tried to push.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint sh language-sh"><code>cd ../repo-clone2
git fetch
vi README
git add README
git commit --author="User2 &lt;user2@git.com&gt;" -m "Other user change"
git push</code></pre>
</div>
</div>
<div class="paragraph">
<p>But we get the following error.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint sh language-sh"><code>	 ! [rejected]        master -&gt; master (non-fast-forward)
	error: failed to push some refs to '/home/jose/sandbox-git/test-repo.git'
	hint: Updates were rejected because the tip of your current branch is behind
	hint: its remote counterpart. Integrate the remote changes (e.g.
	hint: 'git pull ...') before pushing again.
	hint: See the 'Note about fast-forwards' in 'git push --help' for details.</code></pre>
</div>
</div>
<div class="admonitionblock warning">
<table>
<tr>
<td class="icon">
<i class="icon-warning" title="Warning"></i>
</td>
<td class="content">
You can not push but you pull &#8230; at this time the tree is like this &#8230;
</td>
</tr>
</table>
</div>
<div class="imageblock">
<div class="content">
<img src="git_02.png" alt="git 02">
</div>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint sh language-sh"><code>git pull</code></pre>
</div>
</div>
<div class="admonitionblock caution">
<table>
<tr>
<td class="icon">
<i class="icon-caution" title="Caution"></i>
</td>
<td class="content">
The default behavior has changed since git 2.9
</td>
</tr>
</table>
</div>
<div class="paragraph">
<p>"git merge" used to allow merging two branches that have no common base by default, which led to a brand new history of an existing project created and then get pulled by an unsuspecting maintainer, which allowed an unnecessary parallel history merged into the existing project. The command has been taught not to allow this by default, with an escape hatch --allow-unrelated-histories option to be used in a rare event that merges histories of two projects that started their lives independently.</p>
</div>
<div class="paragraph">
<p>In this case, we have started from 2 independent branches, and the pull of a branch
(Where we already have a commit) causes a kind of "merge". In this case (for
Not having common ancestors) we must do it with:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint sh language-sh"><code>git pull origin master --allow-unrelated-histories</code></pre>
</div>
</div>
<div class="paragraph">
<p>And this is left</p>
</div>
<div class="imageblock">
<div class="content">
<img src="git_03.png" alt="git 03">
</div>
</div>
<div class="paragraph">
<p>Now we can do:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint sh language-sh"><code>git push</code></pre>
</div>
</div>
<div class="paragraph">
<p>And so is the repo:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="git_04.png" alt="git 04">
</div>
</div>
</div>
<div class="sect2">
<h3 id="_work_in_a_branch_without_having_updated_it">Work in a branch, without having updated it</h3>
<div class="paragraph">
<p>Let&#8217;s now test in directory 1, create a git-flow feature, create a
New file and then &#8230; create another feature in directory 2, creating another
file.</p>
</div>
<div class="paragraph">
<p>Then in directory 1, we close the feature, then in directory 2.</p>
</div>
<div class="admonitionblock tip">
<table>
<tr>
<td class="icon">
<i class="icon-tip" title="Tip"></i>
</td>
<td class="content">
We merge develop into our branch, and then merge our branch into develop (closing the feature).
</td>
</tr>
</table>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint sh language-sh"><code>cd ../repo-clone1
git flow init
git flow feature start user1

vi feature-user1.txt
git add feature-user1.txt
git commit --author="User1 &lt;user1@git.com&gt;" -m "Commit in feature-user1"</code></pre>
</div>
</div>
<div class="imageblock">
<div class="content">
<img src="git_05.png" alt="git 05">
</div>
</div>
<div class="admonitionblock warning">
<table>
<tr>
<td class="icon">
<i class="icon-warning" title="Warning"></i>
</td>
<td class="content">
But we "forgot" to do fetch / pull before we start &#8230; and here begins the lesson &#8230;
</td>
</tr>
</table>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint sh language-sh"><code>git fetch
git pull origin master</code></pre>
</div>
</div>
<div class="paragraph">
<p>Now (about to finish the story) we have the tree as well.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="git_06.png" alt="git 06">
</div>
</div>
<div class="paragraph">
<p>We close feature</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint sh language-sh"><code>git flow feature finish</code></pre>
</div>
</div>
<div class="paragraph">
<p>Summary of actions:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The feature branch <em>feature/user1</em> was merged into <em>develop</em></p>
</li>
<li>
<p>Feature branch <em>feature/user1</em> has been locally deleted</p>
</li>
<li>
<p>You are now on branch <em>develop</em></p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tr>
<td class="icon">
<i class="icon-tip" title="Tip"></i>
</td>
<td class="content">
Let&#8217;s upload develop (by default git-flow does not push), which we have not done yet.
</td>
</tr>
</table>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint sh language-sh"><code>git push origin develop</code></pre>
</div>
</div>
<div class="paragraph">
<p>Leaving the tree, like this:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="git_07.png" alt="git 07">
</div>
</div>
</div>
<div class="sect2">
<h3 id="_keep_branch_updated_with_changes_from_develop">Keep branch updated with changes from develop</h3>
<div class="paragraph">
<p>Now we go to the directory 2, we update, create a feature,
We do something in the file README comiteamos, but before closing the feature,
Change folder 1 and modify the README, we return to the original directory and
Before closing feature, mergeamos develop in our branch.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint sh language-sh"><code>cd ../repo-clone2
git fetch
git checkout develop
git pull

git flow init

git flow feature start user2

vi feature-user2.txt
git add  feature-user2.txt
git commit --author="User2 &lt;user2@git.com&gt;" -m "Commit in feature-user2"

cd ../repo-clone1
vi feature-user1.txt
git add  feature-user1.txt
git commit --author="User1 &lt;user1@git.com&gt;" -m "Update develop file feature1"
git push origin develop</code></pre>
</div>
</div>
<div class="paragraph">
<p>Here (folder 1) we still do not know anything about the feature2, leaving the tree as well</p>
</div>
<div class="imageblock">
<div class="content">
<img src="git_08.png" alt="git 08">
</div>
</div>
<div class="paragraph">
<p>The "problem" with overshoot is that it alters the story lines, for better or for worse.</p>
</div>
<div class="paragraph">
<p>If we follow the classic approach, to keep our feature2 current, we must
Often merge with develop, or at least, before closing the feature.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint sh language-sh"><code>cd ../repo-clone2
git fetch
git pull origin develop</code></pre>
</div>
</div>
<div class="paragraph">
<p>This, as written, performs a direct merge, since we are pulling another
Branch (develop) in the of the feature.</p>
</div>
<div class="admonitionblock tip">
<table>
<tr>
<td class="icon">
<i class="icon-tip" title="Tip"></i>
</td>
<td class="content">
A pull of a branch in another that is not yours, is equivalent to a merge.
</td>
</tr>
</table>
</div>
<div class="imageblock">
<div class="content">
<img src="git_09.png" alt="git 09">
</div>
</div>
</div>
<div class="sect2">
<h3 id="_merge_after_a_pull_update_from_one_branch_to_another">Merge, after a pull (update), from one branch to another</h3>
<div class="paragraph">
<p>A way, from my point of view, more controlled to focus the merge (or
Either by having a branch updated, or by mixing it later in another),
Could have been: a fetch to update, changing to develop,
Do pull and then return to the feature and doing merge.</p>
</div>
</div>
<div class="sect2">
<h3 id="_keep_branch_updated_with_an_override">Keep branch updated with an override.</h3>
<div class="paragraph">
<p>But, try again (we go to folder 1, we make change in develop and we raise it),
But this time we make a rebase (using git flow)</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint sh language-sh"><code>cd ../repo-clone1
vi feature-user1.txt
git add  feature-user1.txt
git commit --author="User1 &lt;user1@git.com&gt;" -m "Update develop file feature1"
git push origin develop
cd ../repo-clone2
git fetch
git flow feature rebase user2</code></pre>
</div>
</div>
<div class="paragraph">
<p>Will try to rebase <em>user2</em> which is based on <em>develop</em>&#8230;
First, rewinding head to replay your work on top of it&#8230;
Applying: Commit in feature-user2
Applying: Update develop file feature1</p>
</div>
<div class="imageblock">
<div class="content">
<img src="git_10.png" alt="git 10">
</div>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint sh language-sh"><code>git flow feature finish</code></pre>
</div>
</div>
<div class="paragraph">
<p>Branches <em>develop</em> and <em>origin/develop</em> have diverged.
Fatal: And branch <em>develop</em> may be fast-forwarded.</p>
</div>
<div class="paragraph">
<p>This only means that the branch where we are working is not present (similar to the first example).</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint sh language-sh"><code>git checkout develop

Switched to branch 'develop'
Your branch is behind 'origin/develop' by 2 commits, and can be fast-forwarded.
  (use "git pull" to update your local branch)

git pull
Updating 408fcbf..f76cade
Fast-forward
 feature-user1.txt | 3 +++
 1 file changed, 3 insertions(+)

git checkout feature/user2
Switched to branch 'feature/user2'

git flow feature finish
Switched to branch 'develop'
Your branch is up-to-date with 'origin/develop'.
Auto-merging feature-user1.txt
CONFLICT (content): Merge conflict in feature-user1.txt
Automatic merge failed; fix conflicts and then commit the result.

There were merge conflicts. To resolve the merge conflict manually, use:
    git mergetool
    git commit

You can then complete the finish by running it again:
    git flow feature finish user2</code></pre>
</div>
</div>
<div class="paragraph">
<p>The rebase has generated conflicts, which at the time of making the merge, gives us problems.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint sh language-sh"><code>git mergetool</code></pre>
</div>
</div>
<div class="imageblock">
<div class="content">
<img src="git_11.png" alt="git 11">
</div>
</div>
<div class="paragraph">
<p>It alters the timeline of the branch where it does it. We resolve the conflict and make changes.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint sh language-sh"><code>git add feature-user1.txt
git commit --author="User2 &lt;user2@git.com&gt;" -m "Resolve rebase y merge"
git push origin develop</code></pre>
</div>
</div>
<div class="paragraph">
<p>We have this tree</p>
</div>
<div class="imageblock">
<div class="content">
<img src="git_12.png" alt="git 12">
</div>
</div>
</div>
<div class="sect2">
<h3 id="_git_tree_police">Git tree police.</h3>
<div class="paragraph">
<p>If we consider that a branch is created for a functionality, and the whole set
Of commits that are related to it, including merge from develop, should not
Be reflected in the final tree after the merge, --no-ff is our friend.</p>
</div>
<div class="paragraph">
<p>We create a feature3, make some changes, make some changes in develop,
Let&#8217;s take it to the branch of feature3, and when it&#8217;s done, merge with no-ff.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint sh language-sh"><code>cd ~/sandbox-git/repo-clone1
git fetch
git pull origin develop

cd ~/sandbox-git/repo-clone2
git fetch
git pull origin develop

git flow feature start feature3
vi feature3-user2.txt
git add feature3-user2.txt
git commit --author="User2 &lt;user2@git.com&gt;" -m "File from feature 3"

cd ~/sandbox-git/repo-clone1
vi change-in-develop.txt
git add change-in-develop.txt
git commit --author="User1 &lt;user1@git.com&gt;" -m "change-in-develop"
git push origin develop

cd ~/sandbox-git/repo-clone2
git checkout develop
git fetch
git pull
git checkout feature/feature3
git merge develop</code></pre>
</div>
</div>
<div class="paragraph">
<p>The tree we have so &#8230; now after the merge, make another change and reintegrate
In develop as a single commit.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="git_13.png" alt="git 13">
</div>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint sh language-sh"><code>vi feature3-another-user2-file.txt
git add feature3-another-user2-file.txt
git commit --author="User2 &lt;user2@git.com&gt;" -m "File from feature 3"
git checkout develop
git merge feature/feature3 --no-ff
git push origin --delete feature/feature3
git branch -d feature/feature3</code></pre>
</div>
</div>
<div class="imageblock">
<div class="content">
<img src="git_14.png" alt="git 14">
</div>
</div>
<div class="paragraph">
<p>Let&#8217;s observe how clean the branch develop</p>
</div>
<div class="imageblock">
<div class="content">
<img src="git-merge-no-ff.png" alt="git merge no ff">
</div>
</div>
<div class="paragraph">
<p>References:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://medium.com/@porteneuve/getting-solid-at-git-rebase-vs-merge-4fa1a48c53aa">https://medium.com/@porteneuve/getting-solid-at-git-rebase-vs-merge-4fa1a48c53aa</a></p>
</li>
<li>
<p><a href="https://coderwall.com/p/tnoiug/rebase-by-default-when-doing-git-pull">https://coderwall.com/p/tnoiug/rebase-by-default-when-doing-git-pull</a></p>
</li>
<li>
<p><a href="https://mislav.net/2013/02/merge-vs-rebase/">https://mislav.net/2013/02/merge-vs-rebase/</a></p>
</li>
<li>
<p><a href="https://www.atlassian.com/git/articles/git-team-workflows-merge-or-rebase">https://www.atlassian.com/git/articles/git-team-workflows-merge-or-rebase</a></p>
</li>
</ul>
</div>
</div>
</div>
</div></p>
			<p><a href="/blog/2017/06/git.html#disqus_thread">Comments</a></p>
  			<a href="/blog/2016/10/retrolambda.html"><h1>Retrolambda and default methods</h1></a>
  			<p>19 octubre 2016</p>
			<p><em>Tags: </em>
		<a href="/blog/tags/jvm.html">jvm</a> 
	
		<a href="/blog/tags/retrolambda.html">retrolambda</a> 
	
		<a href="/blog/tags/hippocms.html">hippocms</a> 
	
		<a href="/blog/tags/android.html">android</a> 
	
		<a href="/blog/tags/apt.html">apt</a> 
	</p>
			<a href="https://twitter.com/share" class="twitter-share-button" data-text="Retrolambda and default methods" data-url="http://josejuanmontiel.github.io/blog/2016/10/retrolambda.html" data-via="accreativos" data-lang="fr">Tweeter</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			<div class="g-plusone" data-size="medium" data-href="http://josejuanmontiel.github.io/blog/2016/10/retrolambda.html"></div>
			<script type="IN/Share" data-url="http://josejuanmontiel.github.io/blog/2016/10/retrolambda.html" data-counter="right"></script>
			<div class="fb-like" data-href="http://josejuanmontiel.github.io/blog/2016/10/retrolambda.html" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>

  			<p><div class="sect1">
<h2 id="_retrolambda_and_hippo_cms">Retrolambda and Hippo Cms</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="https://code.onehippo.org/cms-community/hippo-cms">This project</a> can only be compiled with the JDK 8 as it makes heavy use of its features: lambdas, default methods and more.</p>
</div>
<div class="paragraph">
<p>Thanks to <a href="https://github.com/orfjackal/retrolambda">Retrolambda</a>, many projects that make use of the new features of JDK 8 can be migrated to JDK7 (and earlier) and therefore also to Android, where primary use is made this tool.</p>
</div>
<div class="paragraph">
<p>And with <a href="https://github.com/orfjackal/retrolambda#maven-plugin">this maven plugin</a> you can integrate it into your buildsystem. <a href="https://github.com/orfjackal/retrolambda/blob/master/end-to-end-tests/pom.xml">Here is</a> an example of how to use it. And besides, there is another <a href="https://github.com/evant/gradle-retrolambda">for Gradle</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_limitations">Limitations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>But there are some well known <a href="https://github.com/orfjackal/retrolambda#known-limitations">limitations</a>, which makes the migration of the default method of JDK 8 are not so easy, "must to be backported together, with one execution of Retrolambda".</p>
</div>
<div class="paragraph">
<p>So <a href="http://orfjackal.github.io/retrolambda/retrolambda-maven-plugin/process-main-mojo.html">by default</a> is disabled in the migration.</p>
</div>
<div class="paragraph">
<p>When Retrolmambda migrates <a href="https://github.com/orfjackal/retrolambda#backported-language-features">Default Methods</a>:
Default methods are backported by copying the default methods to a companion class (interface name + "$") as static methods, replacing the default methods in the interface with abstract methods, and by adding the Necessary method Implementations to all classes which implement that interface.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_retrolambda_and_hippocms">Retrolambda (and HippoCms)</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Take, for example, <a href="https://code.onehippo.org/cms-community/hippo-cms">the following</a> project.</p>
</div>
<div class="paragraph">
<p>Suppose that initially have this interface module with the default method.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint java language-java"><code>public interface IconProvider extends IClusterable {
	default Component getIcon(final String id, IconSize size) {
		return null;
	}
}</code></pre>
</div>
</div>
<div class="paragraph">
<p>Retrolambda what makes this class is transformed into this one.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint java language-java"><code>public abstract interface IconProvider2 extends IClusterable {
  public abstract Component getIcon(String paramString, IconSize paramIconSize);
}</code></pre>
</div>
</div>
<div class="paragraph">
<p>And implements that method (through the "companion class") in classes that implement the interface, classes in the same module.</p>
</div>
<div class="paragraph">
<p>Therefore, if not process all child classes that interface module in the past, and will not, so&#8230;</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint java language-java"><code>public class SearchingSectionPlugin extends RenderPlugin implements IBrowserSection</code></pre>
</div>
</div>
<div class="paragraph">
<p>this in another module, trying to be compiled gives this error</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint java language-java"><code>[ERROR] /hippo-cms/perspectives/src/main/java/org/hippoecm/frontend/plugins/cms/browse/section/SearchingSectionPlugin.java:[63,7]
	error: SearchingSectionPlugin is not abstract and does not override abstract method getIcon(String,IconSize) in IconProvider</code></pre>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_first_conclusions">First conclusions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>At first, unread well the error message, and without understanding the class hierarchy of the project, I thought it might help <a href="https://github.com/orfjackal/retrolambda/pull/101">this PR</a></p>
</div>
<div class="paragraph">
<p>If you want to understand more in detail, <a href="https://maven.apache.org/guides/introduction/introduction-to-the-lifecycle.html#Setting_Up_Your_Project_to_Use_the_Build_Lifecycle">here</a> some notes on the Lifecycle of maven. And <a href="http://maven.apache.org/guides/mini/guide-maven-classloading.html">here</a> on classloading.</p>
</div>
<div class="paragraph">
<p>Then read more in detail, I thought the problem was that the transformation the interface to abstract &#8230; well, i admit <a href="https://twitter.com/nicolas_frankel/status/786202575150407680">this tweet</a> had distracted me from the real problem, because <a href="https://stackoverflow.com/questions/7202616/java-abstract-interface/7202659#7202659">	the interfaces are abstract (by default)</a>.</p>
</div>
<div class="paragraph">
<p>And the own <a href="https://twitter.com/orfjackal">Esko Luontola</a> explains why. "8 pre-Java JVMs support only abstract methods in interfaces (the &lt;clinit&gt; method being an exception). Retrolambda code inserts the default method implementing to all classes, JVM 8 thus emulating what does."</p>
</div>
<div class="paragraph">
<p><a href="https://docs.oracle.com/javase/tutorial/java/IandI/defaultmethods.html">Here</a> a more detailed explanation of how to operate the Default Methods in JDK 8. And <a href="https://docs.oracle.com/javase/tutorial/java/IandI/abstract.html">here</a> oracle&#8217;s explanation on "abstract".</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_explanation_of_the_real_problem">Explanation of the real problem</h2>
<div class="sectionbody">
<div class="paragraph">
<p>But the problem, in this case, was simply the limitation of the library in multi module projects <a href="https://github.com/orfjackal/retrolambda/issues/56">here</a> and
<a href="https://github.com/orfjackal/retrolambda/issues/58">here</a> as also discussed in detail.</p>
</div>
<div class="paragraph">
<p>A way out by making small manual changes in the code, it would be implementing the method getIcon(String, IconSize) with the default behavior in class the second module.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint bash language-bash"><code>diff --git a/perspectives/src/main/java/org/hippoecm/frontend/plugins/cms/browse/section/BrowsingSectionPlugin.java b/perspectives/src/main/java/org/hippoecm/frontend/plugins/cms/browse/section/BrowsingSectionPlugin.java
index 99bdb0e..9b34ce1 100644
--- a/perspectives/src/main/java/org/hippoecm/frontend/plugins/cms/browse/section/BrowsingSectionPlugin.java
+++ b/perspectives/src/main/java/org/hippoecm/frontend/plugins/cms/browse/section/BrowsingSectionPlugin.java
@@ -18,6 +18,7 @@
 import javax.jcr.Node;
 import javax.jcr.RepositoryException;

+import org.apache.wicket.Component;
 import org.apache.wicket.model.IModel;
 import org.apache.wicket.request.resource.ResourceReference;
 import org.hippoecm.frontend.l10n.ResourceBundleModel;
@@ -144,4 +145,10 @@
         return null;
     }

+    @Override
+    public Component getIcon(String id, IconSize size) {
+    	return null;
+    }
+
+
 }
diff --git a/perspectives/src/main/java/org/hippoecm/frontend/plugins/cms/browse/section/SearchingSectionPlugin.java b/perspectives/src/main/java/org/hippoecm/frontend/plugins/cms/browse/section/SearchingSectionPlugin.java
index 450712b..9d09210 100644
--- a/perspectives/src/main/java/org/hippoecm/frontend/plugins/cms/browse/section/SearchingSectionPlugin.java
+++ b/perspectives/src/main/java/org/hippoecm/frontend/plugins/cms/browse/section/SearchingSectionPlugin.java
@@ -56,6 +56,7 @@
 import org.hippoecm.frontend.service.IconSize;
 import org.hippoecm.frontend.service.render.RenderPlugin;
 import org.hippoecm.frontend.skin.Icon;
+import org.hippoecm.frontend.skin.IconProvider;
 import org.hippoecm.repository.api.HippoNodeType;
 import org.slf4j.Logger;
 import org.slf4j.LoggerFactory;
@@ -337,6 +338,11 @@
     public ResourceReference getIcon(IconSize type) {
         return null;
     }
+
+    @Override
+    public Component getIcon(String id, IconSize size) {
+    	return null;
+    }

     private boolean hasSearchResult() {
         return collection.getType() == DocumentCollectionType.SEARCHRESULT;
</code></pre>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_next_steps">Next steps?</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="https://github.com/teras">Teras</a> and <a href="https://github.com/orfjackal">Orfjackal</a>, why the PR 101 does not modify these classes to make that change? Maybe it does because there is already a method with that name, although not with the same number of parameters?</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_and_what_happend_with_the_retrolambda_compilation_of_hippocms">And what happend with the retrolambda compilation of HippoCms?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Even some mistake &#8230; we have to solve static method &#8230;</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint bash language-bash"><code>[ERROR] hippo-cms/workflow/frontend/src/main/java/org/hippoecm/frontend/plugins/reviewedactions/list/ReviewedActionsListColumnProviderPlugin.java:[72,38] error: cannot find symbol
[ERROR] symbol:   method of(Calendar)
[ERROR] location: interface DateTimePrinter
[ERROR] hippo-cms/workflow/frontend/src/main/java/org/hippoecm/frontend/plugins/reviewedactions/list/ReviewedActionsListColumnProviderPlugin.java:[79,38] error: cannot find symbol
[ERROR] symbol:   method of(Calendar)
[ERROR] location: interface DateTimePrinter</code></pre>
</div>
</div>
<div class="paragraph">
<p>Static methods on interfaces are backported by moving the static methods to a companion class (interface name + "$"), and by changing all methods calls to call the new method location.[1]</p>
</div>
<div class="paragraph">
<p>In this case, the temporary solution is to change the import in the classes of the second module, the companion class.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint bash language-bash"><code>diff --git a/workflow/frontend/src/main/java/org/hippoecm/frontend/plugins/reviewedactions/RequestsView.java b/workflow/frontend/src/main/java/org/hippoecm/frontend/plugins/reviewedactions/RequestsView.java
index 5a97066..ab938b7 100644
--- a/workflow/frontend/src/main/java/org/hippoecm/frontend/plugins/reviewedactions/RequestsView.java
+++ b/workflow/frontend/src/main/java/org/hippoecm/frontend/plugins/reviewedactions/RequestsView.java
@@ -41,7 +41,7 @@
 import org.hippoecm.frontend.plugin.IPluginContext;
 import org.hippoecm.frontend.plugins.reviewedactions.model.Request;
 import org.hippoecm.frontend.plugins.reviewedactions.model.RequestModel;
-import org.hippoecm.frontend.plugins.standards.datetime.DateTimePrinter;
+import org.hippoecm.frontend.plugins.standards.datetime.DateTimePrinter$;
 import org.hippoecm.frontend.plugins.standards.icon.HippoIcon;
 import org.hippoecm.frontend.session.UserSession;
 import org.hippoecm.frontend.skin.Icon;
@@ -110,7 +110,7 @@
                 String state = request.getState();

                 final String parameter = schedule != null ?
-                        DateTimePrinter.of(schedule).appendDST().print(FormatStyle.FULL) : "??";
+                        DateTimePrinter$.of(schedule).appendDST().print(FormatStyle.FULL) : "??";
                 return new StringResourceModel("state-" + state, this, null, "unknown", parameter);
             }</code></pre>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_final_notes">Final notes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you&#8217;ve used in your project with JDK 8 are streaming APIs, you can use <a href="https://sourceforge.net/projects/streamsupport/">this</a>.</p>
</div>
<div class="paragraph">
<p>Here is a <a href="https://en.wikipedia.org/wiki/Java_backporting_tools">brief history</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_extra_ball">Extra ball</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="http://stackoverflow.com/questions/31160831/android-groovy-android-annotation">Groovy Android and APT</a></p>
</div>
</div>
</div></p>
			<p><a href="/blog/2016/10/retrolambda.html#disqus_thread">Comments</a></p>
  			<a href="/blog/2016/10/groovy-thymelaf.html"><h1>Thymeleaf 3 and Groovy</h1></a>
  			<p>12 octubre 2016</p>
			<p><em>Tags: </em>
		<a href="/blog/tags/jvm.html">jvm</a> 
	
		<a href="/blog/tags/groovy.html">groovy</a> 
	
		<a href="/blog/tags/thymeleaf3.html">thymeleaf3</a> 
	
		<a href="/blog/tags/springboot.html">springboot</a> 
	</p>
			<a href="https://twitter.com/share" class="twitter-share-button" data-text="Thymeleaf 3 and Groovy" data-url="http://josejuanmontiel.github.io/blog/2016/10/groovy-thymelaf.html" data-via="accreativos" data-lang="fr">Tweeter</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			<div class="g-plusone" data-size="medium" data-href="http://josejuanmontiel.github.io/blog/2016/10/groovy-thymelaf.html"></div>
			<script type="IN/Share" data-url="http://josejuanmontiel.github.io/blog/2016/10/groovy-thymelaf.html" data-counter="right"></script>
			<div class="fb-like" data-href="http://josejuanmontiel.github.io/blog/2016/10/groovy-thymelaf.html" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>

  			<p><div class="sect1">
<h2 id="_groovy">Groovy</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The first time i heard about Groovy, was in late 2010, early 2011. I used Freemind mind mapping, and then version 0.9 was about to release, with support for groovy, what was that?, It took some time using Freemind, and I said, if people use it, maybe could be interesting.</p>
</div>
<div class="paragraph">
<p>A dynamic language like Javascript, which could interact with the mental maps, making them dynamic too? To create nodes, relations between them, in a dynamic way?. I tried it, I did some things: a script that compiled the ticket Fogbugz and show me drawn as nodes in the mental map.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_thymeleaf">Thymeleaf</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Thymeleaf templating system is a server, both as standalone web. Its main objective is to provide a template system (not strictly HTML), natural and elegant that also function as static prototypes, enabling closer collaboration in development teams.</p>
</div>
<div class="paragraph">
<p>In addition, modules Spring Framework, a series of integrations with their favorite tools, and the ability to connect their own functionality, thymeleaf is ideal for HTML5 web development in the JVM and more.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_why_no_mix_it">Why no mix it?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>One of the new features of thymeleaf 3 is still more design decouple HTML from data binding.</p>
</div>
<div class="paragraph">
<p>In <a href="https://github.com/thymeleaf/thymeleaf/issues/465">this link</a> count as work.</p>
</div>
<div class="paragraph">
<p>The question is, if I can lay  something like</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint html language-html"><code>&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;body&gt;
    &lt;table id="usersTable"&gt;
      &lt;tr&gt;
        &lt;td class="username"&gt;Jeremy Grapefruit&lt;/td&gt;
        &lt;td class="usertype"&gt;Normal User&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td class="username"&gt;Alice Watermelon&lt;/td&gt;
        &lt;td class="usertype"&gt;Administrator&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/table&gt;
  &lt;/body&gt;
&lt;/html&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>I can define so, as it will generate the binding of the fields&#8230;</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint xml language-xml"><code>&lt;?xml version="1.0"?&gt;
&lt;thlogic&gt;
  &lt;attr sel="#usersTable" th:remove="all-but-first"&gt;
    &lt;attr sel="/tr[0]" th:each="user : ${users}"&gt;
      &lt;attr sel="td.username" th:text="${user.name}" /&gt;
      &lt;attr sel="td.usertype" th:text="#{|user.type.${user.type}|}" /&gt;
    &lt;/attr&gt;
  &lt;/attr&gt;
&lt;/thlogic&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>then, why not write in groovy</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint groovy language-groovy"><code>thlogic {
    attr(sel:'#usersTable', 'th:remove':'all-but-first') {
        attr(sel:'/tr[0]', 'th:each':'user : ${users}') {
            attr(sel:'td.username', 'th:text':'${user.name}')
            attr(sel:'td.usertype', 'th:text':'${user.type}')
        }
    }
}</code></pre>
</div>
</div>
<div class="paragraph">
<p><a href="http://forum.thymeleaf.org/Thymeleaf-and-groovy-td4029599.html">Here is</a> the explanation in thymeleaf&#8217;s forum.</p>
</div>
<div class="paragraph">
<p>And if we can made this, we could made <a href="http://groovy-lang.org/processing-xml.html#_markupbuilder">this one</a></p>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint groovy language-groovy"><code>thlogic {
    attr(sel:'#usersTable', 'th:remove':'all-but-first') {
        attr(sel:'/tr[0]', 'th:each':'user : ${users}') {
			(1..3).each { n -&gt;			<i class="conum" data-value="1"></i><b>(1)</b>
				attr(sel:'td.username', 'th:text':'${user.name}')
				attr(sel:'td.usertype', 'th:text':'${user.type}')
			}
        }
    }
}</code></pre>
</div>
</div>
<div class="colist arabic">
<table>
<tr>
<td><i class="conum" data-value="1"></i><b>1</b></td>
<td>Include the logic in xml generation&#8230;</td>
</tr>
</table>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_one_example_with_all_mixed">One example with all mixed</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="https://github.com/josejuanmontiel/adorable-avatar">this project</a> i mount an example of use of thymeleaf 3 in a springboot project with groovy as the main language, and <a href="https://github.com/josejuanmontiel/dynamic-rest-template">here</a> took out the rest of access to services, and wanted to try something else was jitpack to generate libraries git projects, on-demand.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint gradle language-gradle"><code>	maven { url "https://jitpack.io" }
	compile 'com.github.josejuanmontiel:dynamic-rest-template:-SNAPSHOT'</code></pre>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_next_steps">Next steps</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Many applications are the type, called a rest services and exposure in the view. Why not make an application front, in the back? I thought it would be quite interesting, that in the definition of binding in groovy could add information about the rest services to be consulted, to fill the data binding in the rendering phase.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint groovy language-groovy"><code>rest{
	url{
		http://...
	}
	binding {
		user.name=response.body.user
		user.type=response.body.type
		...
	}
}
thlogic {
    attr(sel:'#usersTable', 'th:remove':'all-but-first') {
        attr(sel:'/tr[0]', 'th:each':'user : ${users}') {
            attr(sel:'td.username', 'th:text':'${user.name}')
            attr(sel:'td.usertype', 'th:text':'${user.type}')
        }
    }
}</code></pre>
</div>
</div>
<div class="paragraph">
<p>And seeing the <a href="https://twitter.com/nicolas_frankel/status/760441910272135168">tweet</a> Nicolas Frankel, test values (maximum and minimum) of each of the fields are indicated binding and that during development, are that the fake data used to lay out the project, while services are mounted.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="prettyprint groovy language-groovy"><code>rest{
	url{ ... }
	binding { ... }
	test {
		user.name=[user1, user2, user3]
		user.type=[admin, normal, editor]
	}
}</code></pre>
</div>
</div>
<div class="paragraph">
<p>For all this, metaprogramming &#8230; in groovy. To see what ends the idea.</p>
</div>
</div>
</div></p>
			<p><a href="/blog/2016/10/groovy-thymelaf.html#disqus_thread">Comments</a></p>
  			<a href="/blog/2016/08/blog-jbake-gradle.html"><h1>Blog in GitHub Pages with Jbake and Gradle</h1></a>
  			<p>25 agosto 2016</p>
			<p><em>Tags: </em>
		<a href="/blog/tags/jvm.html">jvm</a> 
	
		<a href="/blog/tags/groovy.html">groovy</a> 
	
		<a href="/blog/tags/blog.html">blog</a> 
	
		<a href="/blog/tags/github.html">github</a> 
	
		<a href="/blog/tags/jbake.html">jbake</a> 
	
		<a href="/blog/tags/gradle.html">gradle</a> 
	</p>
			<a href="https://twitter.com/share" class="twitter-share-button" data-text="Blog in GitHub Pages with Jbake and Gradle" data-url="http://josejuanmontiel.github.io/blog/2016/08/blog-jbake-gradle.html" data-via="accreativos" data-lang="fr">Tweeter</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			<div class="g-plusone" data-size="medium" data-href="http://josejuanmontiel.github.io/blog/2016/08/blog-jbake-gradle.html"></div>
			<script type="IN/Share" data-url="http://josejuanmontiel.github.io/blog/2016/08/blog-jbake-gradle.html" data-counter="right"></script>
			<div class="fb-like" data-href="http://josejuanmontiel.github.io/blog/2016/08/blog-jbake-gradle.html" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>

  			<p><div class="sect1">
<h2 id="_it_s_time_to_start_a_blog_about_programming">It&#8217;s time to start a blog about programming</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The truth is that as time passes, you realize that sharing is winning. Some, are given as much before, but although
I already intuited, have had to spend over 10 years in the art of programming to realize. Share is to win,
is to know other opinions, ways of doing things and of course, meet other people&#8230; they call networking.</p>
</div>
<div class="paragraph">
<p>I already had a <a href="http://accreativos.blogspot.com.es/">blog</a> is more a list of things you&#8217;re finding and take note to
remember, that really a way to share information and comment on it. Then came the
<a href="http://twitter.com/accreativos">twitter</a> but in the end, it is a mixture of retweets, and little original information.</p>
</div>
<div class="paragraph">
<p>So, why not, a serious blog, like those used to reading these, those where people end up leaving
a lot of comments, those that you add to your RSS reader to be aware of what is said in them,
And if you learn something mounting it, because what else can you ask for.</p>
</div>
<div class="paragraph">
<p>Therefore, items that will use this blog are:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>English (Spanish)</p>
</li>
<li>
<p>GitHub Pages</p>
</li>
<li>
<p>AsciiDoctor</p>
</li>
<li>
<p>Groovy</p>
</li>
<li>
<p>Jbake</p>
</li>
<li>
<p>Gradle</p>
</li>
<li>
<p>Freemarker (Thymeleaf)</p>
</li>
<li>
<p>Discus (Discourse)</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>We see you in a bit of detail each point.</p>
</div>
<div class="sect2">
<h3 id="_english">English</h3>
<div class="paragraph">
<p>The first thing I take advantage of it to improve my English. So, although I write in Spanish, my native language,
publishes in English (and I assume that since I write in Spanish, these also the publicare, and I&#8217;ll see as attachment).</p>
</div>
</div>
<div class="sect2">
<h3 id="_github_pages">Github Pages</h3>
<div class="paragraph">
<p>GitHub for some time now began to publish static pages allow for all your projects done. If you are looking for
<a href="https://pages.github.com">https://pages.github.com</a> [Github Pages] will see extensive information, besides, many people already using github
tapped to mount functionality for small static sites.</p>
</div>
<div class="paragraph">
<p>Basically it is that everything that you upload to the branch gh-pages of your github repository, will be visible in the domain
<a href="http://username.github.io/repo/file">http://username.github.io/repo/file</a> where username is your user github, repo is the name of the repo where these
going up files to the branch gh-pages and file is the file that if an index.html the browser displays,
and the same for css and js with what you already have ready the web.</p>
</div>
<div class="paragraph">
<p>They also provide a default generator, <a href="https://help.github.com/articles/about-github-pages-and-jekyll/">Jekyll</a>
to generate these static pages from a text in markdown format, but we will not use it,
We see the alternative.</p>
</div>
</div>
<div class="sect2">
<h3 id="_asciidoctor">AsciiDoctor</h3>
<div class="paragraph">
<p>We prefer to use something that is between, markdown and latex, and that is called <a href="http://asciidoctor.org/">AsciiDoctor</a> that
true also this <a href="http://asciidoctor.org/news/2014/02/04/github-asciidoctor-0.1.4-upgrade-5-things-to-know/">supported</a>
by GitHub.</p>
</div>
</div>
<div class="sect2">
<h3 id="_groovy">Groovy</h3>
<div class="paragraph">
<p>Like my native language is Spanish, my native language is this in Java programming, and as is
learn, and I have a few years playing with groovy, and I will not miss the opportunity to mount the blog using it.
I will tell on another occasion, as I started in this groovy, and what are the places where I learn.</p>
</div>
</div>
<div class="sect2">
<h3 id="_jbake">Jbake</h3>
<div class="paragraph">
<p>And we have said that we were not going to use <a href="https://jekyllrb.com/">Jekyll</a> that is done in Ruby, because what we mola is
Groovy;) But we need our written txt in AsciiDoctor be transformed into HTML (or XML we&#8217;ll see how)
and above all that what we write is inserted in those HTML, we will use <a href="http://jbake.org/">Jbake</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="_gradle">Gradle</h3>
<div class="paragraph">
<p>But hey, this needs to be automated, at the end, there are a number of steps, why not use Gradle, as well
<a href="http://melix.github.io/blog/2014/02/hosting-jbake-github.html">the creator</a> of
<a href="https://github.com/jbake-org/jbake-gradle-plugin">plugin</a>, it is the perfect combination.</p>
</div>
<div class="paragraph">
<p>A couple of notes, as it has been somewhat outdated &#8230; <a href="http://www.orany.cz/blog/2014/10/17/migrated-to-jbake.html">that
Ornay write time ago</a> and which faces plugin to upload the pages to the branch, it has also been actualized,
<a href="https://plugins.gradle.org/plugin/org.ajoberstar.github-pages">aqui this</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="_freemarker_thymeleaf">Freemarker (Thymeleaf)</h3>
<div class="paragraph">
<p>And this tool is able to use different templating systems (specifically start with Freemarker, and more
I later migrate to Thymeleaf) to inject the values ​​obtained in asciidoctor txt, along with some
more variables to help build a blogging system that does not have anything envy to Jeklly, Wordpress or
what is put forward.</p>
</div>
</div>
<div class="sect2">
<h3 id="_disqus_discourse">Disqus (Discourse)</h3>
<div class="paragraph">
<p>But finally, a system without the possibility of blog comments, don&#8217;t make sense. To do all these i used
<a href="https://disqus.com/">Discus</a> that integrate perfectly with a line (almost). As an option, I will try to migrate to
<a href="https://www.discourse.org/">Discourse</a> but that will come later.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_extra_ball_analytics">Extra Ball. Analytics.</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As extra ball, remember to add the analitica.</p>
</div>
<div class="paragraph">
<p>Keep on Groovying!</p>
</div>
</div>
</div></p>
			<p><a href="/blog/2016/08/blog-jbake-gradle.html#disqus_thread">Comments</a></p>
	
	<hr />
	
	<p>Older posts are available in the <a href="/blog/archive.html">archive</a>.</p>

		</div>
		<div id="push"></div>
    </div>
    
    <div id="footer">
      <div class="container">
	<p class="muted credit">All posts on this blog are published with a <em>Creative Commons by-nc-sa</em> license.<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.0/fr/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/2.0/fr/88x31.png"/></a></p>
        <p class="muted credit">&copy; 2016 | Mixed with <a href="http://twitter.github.com/bootstrap/">Bootstrap v3.0.3</a> | Baked with <a href="http://jbake.org">JBake v2.3.0</a></p>
      </div>
    </div>
    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/blog/js/jquery-1.9.1.min.js"></script>
    <script src="/blog/js/bootstrap.min.js"></script>
    <script src="/blog/js/run_prettify.js"></script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <script type="text/javascript">
    var disqus_shortname = 'josejuanmontiel';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
<script type="text/javascript">
  window.___gcfg = {lang: 'es'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82879918-1', 'josejuanmontiel.github.io');
  ga('send', 'pageview');

</script>
<script src="http://cdn.lanyrd.net/badges/person-v1.min.js"></script>
  </body>
</html>
